* {
    box-sizing: border-box;
    position: relative;
}
body {
    padding:0;
    margin: 0;
    background-color: #f8e5e5;
    /* #fa255e#c39ea0 */
}
.all {
    background-color: #202020;
    width: 100%;
}

header {
    display: grid;
    width: 100%;
    grid-template-areas: 'logo nav nav nav';
    height: 10vh;

}
.logo {
    grid-area: logo;
    padding: 15px 40px;
}
.logo li {
    list-style: none;
}

nav {
    display: inline-flex;
    grid-area: nav;
    padding-top: 20px;
    padding-right: 35%;
    justify-content: flex-end;
    width: 100%;
}
nav li a {
    text-decoration: none;
    color: #f8e5e5;
    font-size: 2.5vh;
    font-weight: lighter;
    font-style: italic;
    
}
nav li a:hover {
    border-bottom: 1px solid #f8e5e5;
    padding-bottom: 10px;
    transition: ease-in-out .5s;
}
nav li {
    list-style: none;
    padding-inline: 20px;
    /* border-right: #ed8a0a 1px solid; */
}

.logo img {
    width: 30px;
    height: 30px;
    background-color: #fa255e;

}

main {
    width: 100%;
    position: relative;
    z-index: 100;
}
.trial1 {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
    color:#fff;
    text-align: left;
    position: relative;
    height: fit-content;
    padding: 4%;
    background-color: #c39ea0;
}
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
  
.title {
  grid-column: 1 / -1;
  grid-row: 1;
  font-family: "Prata", serif;
  font-size: 5vw;
  width: 100%;
  z-index: 2;

  /* // start */

  > .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  /* // outline: 1px solid red; */
}

/* // [class*='inner'] {
//   outline: 1px solid blue;
// }
 */
.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe {
  /* // start */
  > .cafe-inner {
    display: inline-block;
  }
}

.mozart {
  display: inline-block;
}

.image {
  grid-row: 1;
  grid-column: 2;
  height: 80vh;
  /* opacity: 0.7; */

  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
@keyframes image-in {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

   

img {
    display: block;
    width: 85%;
    float: right;
    height: 100%;
  }
/* .trial1 p {
    font-size: large; 
    color:#202020 ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique; 
    font-weight: lighter;
}
h3 {
    /* margin: 20px; */
/*     font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #202020;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: left;
  }
  
  h3 span {
    display: block;
    margin: 11px 0 17px 0;
    font-size: 30px;
    line-height: 30px;
    color: #202020;
    /* #fa255e#c39ea0 */
    /* #fa255e#c39ea0 */

    /* letter-spacing: -2px;
  }

.trial1 img {
    width: 30%;
    height: 60vh;
    padding: 7px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 40px;
    float: right;

} */ 
 .clear {
    clear: both;
}  
h5 {
    padding: 15px 0;
    text-align: center;
    width: 150px;
    font-size: 17px;
    font-weight: 100;
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 10%;   
    background-color: #7d5660;
    color: #fff;
    border-radius: 10px;
    font-style: italic;
}
h5:hover {
    background-color: #202020;
    font-weight: 700;    
    color: #fa255e;
    transform: ease-in 2s;
}
footer {
    width: 95%;
    text-align: right;
    height: 7vh;
    padding-right: 40px;
    background-color: #c39ea0;
}
.foot {
    display: inline-flex;
    flex-direction: column;
    width: 70%;
    color:  #f8e5e5;
    justify-content: right;
    position: absolute;
    height: 150px;
    justify-content: space-around;
    top: 60%;
    left: 24%;
    
    
}
.foot i {
    padding-right: 10px;
    font-size: 70%;
    font-style: italic;
    font-weight: 600;
}

.social {
    display: inline-flex;
    flex-direction: column;
    width: 70%;
    color:  #f8e5e5;
    justify-content: right;
    position: absolute;
    height: 150px;
    justify-content: space-around;
    top: 60%;
    left: 102%;
    
    
}
.social i {
    padding-right: 10px;
    font-size: 70%;
    font-style: italic;
    font-weight: 600;
}

.cont p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    padding-top: 5px;
    display: none;
}

.flip-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    margin: 0;
    padding: 0;
    z-index: 4;
    position: relative;
}
.flip-child1, .flip-child {
    display: flex;
    justify-content: space-evenly;
    width:100% ;
}

.flipbox1, .flipbox2, .flipbox3, .flipbox4 {
    background-color: transparent;
    width:55vh;
    height: 36vh;
    perspective: 800px;
    padding-bottom: 10px;
}
.boxinner1, .boxinner2, .boxinner3, .boxinner4 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.boxinner1:hover {
    transform: rotateY(180deg);
}

.boxinner2:hover {
    transform: rotateY(180deg);
}
.boxinner3:hover {
    transform: rotateY(180deg);
}

.boxinner4:hover {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
.back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
}
.back li {
    list-style: none;
    margin-top: 50px;
}
.back li a {
    text-decoration: none;
    background-color: #b83baf;
    width: 80px;
    border-radius: 5px;
    padding: 7px 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.front img {
    width: 100%;
    height: 100%;
    position: relative;
}
.front h2 {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    position: absolute;
    bottom: -15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 3%;
}
  
.about {
    width: 95%;
    height: 75vh;
    margin: 0;
    color: #c39ea0;
    background-color: #c39ea0;
    padding:  40px;
}
.about h4 {
    font-size: larger;
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;
    color: #451824;
}

.about p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 16px;
    color: #451824;
    word-spacing: 4px;
}

@media only screen and (max-width: 900px) {

    nav li a {
        font-size: 3vh;
        font-weight: 500;
  
    }
    .trial1 h1 {
        color: orange;
        line-height: 40px;
        text-align: left;
        font-size: 25px;
        width: 45%;
        position: absolute;
        top: 15%;
        left: 5%;
    }
    .trial1 {

        height: 72vh;

    
    }
    .front h2{
        font-size: 11px;
        color: rgb(10, 212, 239);
    }
    .back p {
        font-size: 12px;
    }
    .trial1 img {
        width: 45%;
        height: 55vh;;
        margin-right: 40px;
        border-radius: 50%;
        border: orange 1px solid;
        padding: 1px;
    }
    h5 {
        border: 1px solid orange;
        width: 160px;
        padding: 16px 0;
        text-align: center;
        position: absolute;
        top: 75%;
        left: 5%;
        font-size: 15px;
        color:#deeceee8;
        
    }
    h5:hover {
        background-color: #0b0c0b;
        border: none;
        width: 150px;
        padding: 20px 0;
    }
    .flip-container {
        height: 73vh;
        padding-top: 10px;
        width: 90%;
        margin: 0 auto;
        border: none;
    }
    .flipbox1, .flipbox2, .flipbox3, .flipbox4 {
        width:45vh;
        height: 30vh;
        padding-bottom: 5px;
        border-bottom: 2px #0d1431 solid;
    }
    .back li a {
        padding: 7px 15px;
        font-size: 14px;
    }
    .foot {
        text-align: right;
        width: 100%;
        padding-top: 30px;
        margin: 0;
    }
    .foot i {
        font-size: 14px;
    }
    .cont p {
        font-size: 12px;
    }
    .about {
        padding: 10px;
        height: 70vh;
        margin: 10px auto;
    }
    .about p {
        font-size: 14px;
        color: orange;
    }
    .about h4 {
        color: orange;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {

    header li a {
        color: rgba(27, 248, 215, 0.637);
        font-size: 2.5vh;
        text-align: left;
    }
   
    .about {
        margin: 0 auto;
        width: 90%;
        margin-left: 40px;
        height: 80vh;
        font-size: 12px;
    }
    .about p {
        font-size: 13px;
    }
    .trial1 {
        text-align: left; 
        padding: 0;
        width: 100%;
        height: 80vh;
        margin: 0 auto;  

    }


    .trial1 h1 {
        color: rgb(243, 243, 243);
        line-height: 30px;
        text-align: center;
        font-size: 20px;
        width: 100%;
        top: 60%;
        left: 0%;
    }

    .trial1 img {
        width: 80%;
        height: 40vh;
        border: none;
    }
    h5 {
        width: 130px;
        text-align: center;
        top: 85%;
        left: 40%;
        border: rgba(27, 248, 215, 0.637) 1px solid;
        
    }
    
    footer {
        text-align: left;
        padding: 0 40px;
    }
    .foot {
        flex-direction: column;
    }
    .foot i, .cont p {
        font-size: 13px;
        text-align: left;
        color: rgba(27, 248, 215, 0.637);
    }
    .flip-container {
        height: 70vh;
        margin: 0 auto;
    }
    .front h2 {
        font-size: 11px;
        bottom: -25%;
        color: #fff;
    }

}

